@import "_variables_override.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

body, html {
    margin: 0;
    padding: 0;
}

.banner {
    background-image: url("../img/banner-img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.form-group input::placeholder, .form-group textarea::placeholder {
    font-weight: bold;
    color: rgb(125, 125, 125);
}

.map {
    height: 400px;
    width: 100%;
    background-image: url("../img/map.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}