@import "_variables_override.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

body, html {
    margin: 0;
    padding: 0;
}

.banner {
    background-image: url("../img/banner-img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.form-group {
    position: relative;
}

label {
    position: absolute;
    top: 5px;
    left: 10px;
    pointer-events: none;
    transition: 0.3s ease all;
}

/* Style the input field when it's focused or has content */
.form-group input:focus,
.form-group input:not(:placeholder-shown) {
  border-color: $primary; /* Customize the border color */
  box-shadow: 0 0 10px $primary; /* Customize the shadow */
}

/* Move the label up when the input field is focused or has content */
.form-group input:focus ~ label, 
.form-group input:not(:placeholder-shown) ~ label {
    top: -30px;
}