@import "_variables_override.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

body, html, main, footer {
    margin: 0;
    padding: 0;
}

.banner {
    background-image: url("../img/banner-img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.custom-card {
    max-width: 320px;
    height: 340px;
}

.circle {
    width: 100px;
    height: 100px;
    margin-top: 50px;
    margin-left: 10px;
    position: relative;
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
